<!--<h1>Songs</h1>
<ul>
<% @songs.each do |s| %>
  <li><%=s.title%></li>
<%end%>
</ul>-->

<% @songs.each do |s| %>
<div class="song">
  <span><%=s.title%></span>
  <%= link_to "Delete", s, method: :delete, data: {confirm: "Really?" } %>
</div>
<%end%>